
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100; 
  object-fit: cover;
  opacity: 0; 
    transition: opacity 1s ease-in-out; 
}

body.changeColor #myVideo {
    opacity: 1;
    
}

body.changeColor .content {
  color: #ffffff; 
}


.content {
  position: relative; 
  
  
  width: 100%;
  padding: 20px;
  border-radius: 8px; 
  margin-bottom: 20px; 
}


.main-content-wrapper, .w3-container, .w3-footer {
  position: relative; 
  z-index: 1; 
}


/*sliedeshow vor video*/
.slideshow-container {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1); 
  padding: 10px;
  border-radius: 10px;
}


.w3-sidebar, .w3-bar-block, #mySidebar {
  position: relative;

  z-index: 5; /* Sidebar ganz vorne */
}