body {
  background-image: url(../img/porscheVintageHome.jpg);
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,

h6 {
  font-family: Orbitron, sans-serif;
}
body,
html {
  height: 100%;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 120%;
}
.flexbox {
  background-color: rgba(255, 224, 200, 0.5);
  opacity: 90%;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 4px;
  margin: 20px;
  border-radius: 8px;
  padding: 30px;
  width: auto;
  height: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}


.container {
  display: flex;

  align-content: center;

  justify-content: center;
  width: auto;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 70px;
}

.button1 {
  border-color: rgb(0, 0, 0);
  border-width: 5px;
  border-radius: 10px;
  border-style: solid;
  padding: 5px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;

  align-content: center;
  align-items: center;
  justify-content: center;
}

.button1:hover {
  cursor: default;
  padding: 10px;
  transition-duration: 0.5s;
  font-size: 30px;
  background-color: rgb(113, 66, 0);
  color: white;
}

textarea {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;

  font-size: 20px;
  color: rgb(0, 0, 0);
  width: 350px;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0); /* Black w/ opacity */
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  border-radius: 10px;

  font-size: 20px;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

select {
  background-color: white;
  border-radius: 10px;
  height: 40px;

  font-size: 20px;
}

input {
  background-color: white;
  border-radius: 10px;
  height: 20px;

  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 10px;
}

#Seitenrand1 {
  height: 380px;
  width: 280px;
  right: 20px;
  position: fixed;
  z-index: -1;
}

#Seitenrand2 {
  height: 380px;
  width: 280px;
  position: fixed;
  z-index: -1;

  left: 20px;
}

#cont {
  border-color: rgb(0, 0, 0);
  border-width: 5px;
  border-radius: 0px;
  border-style: solid;
  padding: 5px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;

  align-content: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#cont.visited {
 text-decoration: none;}


.w3-bar-item {
  margin: 0;
}


 .spueber { font-weight: bold;}